canvas {
    border: 0px solid black;
}

body {
    background-color: #2c343c;
    padding: 16px;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 2%;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.actions-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ffff;
    display: flex;
    width: 10%;
}



button {
    width: 99px;
}