canvas {
    border: 0px solid black;
}

body {
    background-color: #2c343c;
    padding: 16px;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    height: 80vh;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    flex: 1;
    margin-top: 12px;
}

.actions-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ffff;
    width: 15%;
    margin-top: 12px;
}

.actions-button {
    margin: 12px;
}

.start {
    background-color: green;
    border-radius: 3px;
    border: 2px solid #E8E8E8;
}